<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to t("sample_app"), '/', id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t("static_pages.home.title"), static_pages_home_path %></li>
      <li><%= link_to t("static_pages.help.title"), static_pages_help_path %></li>
      <li><%= link_to t("login"), "#" %></li>
    </ul>
  </nav>
  </div>
</header>
